<div *ngIf="shouldShowChatbot">
  <div class="chat-fab" (click)="toggleChat()" [class.open]="isChatOpen">
    <div class="icon-wrapper">
      <img src="/assets/images/chatbot-icon.PNG" alt="Abrir chat" class="chat-icon" *ngIf="!isChatOpen">
      <i class="pi pi-times close-icon" *ngIf="isChatOpen"></i>
    </div>
  </div>
  <!-- Globo de Ayuda Llamativo -->
  <div class="help-bubble" *ngIf="showHelpBubble && !isChatOpen">
    Si necesitas ayuda, ¡no dudes en consultarme!
  </div>

  <div class="chat-window" [class.open]="isChatOpen">
    <div class="chat-header">
      <h3>Asistente Virtual</h3>
      <button class="close-btn" (click)="toggleChat()"><i class="pi pi-times"></i></button>
    </div>
    <div class="chat-body">
      <div *ngFor="let message of messages" class="message" [ngClass]="message.type">
        <div [innerHTML]="toHtml(message.text)"></div>
      </div>
      <!-- Indicador de "Escribiendo..." -->
      <div *ngIf="isBotTyping" class="message received typing-indicator">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="preset-questions">
        <button class="preset-btn" (click)="selectQuestion('Crear proyecto')">Crear proyecto</button>
        <button class="preset-btn" (click)="selectQuestion('Crear inversión')">Crear inversión</button>
      </div>
    </div>
    <div class="chat-footer">
      <input type="text" placeholder="Escribe tu mensaje..." [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>
