# Configuración de Base de Datos MySQL
DB_USERNAME=root
DB_PASSWORD=1234

# Credenciales de Administrador Inicial
APP_ADMIN_USER=admin
APP_ADMIN_PASSWORD=1234

# Seguridad JWT
JWT_SECRET_KEY=ebd0fa26534e4af21e88da31d0c9f4307d974d1f79b8b58a57a00367b158e0fd
JWT_USER_GENERATOR=PROYPLUS202-SEC

# Correo (Gmail SMTP)
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion

# Claves de API Externas
EXCHANGE_RATE_API_KEY=tu_api_key_exchangerate
GEMINI_API_KEY=tu_api_key_gemini
