:host {
  display: block;
}

.p-card {
  border-radius: 1rem;
}

/* Para que la animación de slide funcione correctamente,
   el p-card dentro del div animado no debe tener margen superior. */
::ng-deep .p-card-content {
  padding-top: 0;
  padding-bottom: 0;
}
